* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100%;
    background-color: #ec9baa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

/* Hearts wrapper */
.hearts {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Heart shape */
.heart {
    position: absolute;
    bottom: -60px; /* start below screen */
    width: 30px;
    height: 30px;
    background: red;
    transform: rotate(-45deg);
    animation: float 12s linear infinite; /* slower */
}

/* Heart shape parts */
.heart::before,
.heart::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background: red;
    border-radius: 50%;
}

.heart::before {
    top: -15px;
    left: 0;
}

.heart::after {
    left: 15px;
    top: 0;
}

/* Staggered positions with bigger horizontal gaps */
.heart:nth-child(1)  { left: 5%;  animation-delay: 0s; }
.heart:nth-child(2)  { left: 10%; animation-delay: 3s; }
.heart:nth-child(3)  { left: 35%; animation-delay: 7s; }
.heart:nth-child(4)  { left: 15%; animation-delay: 9.8s; }
.heart:nth-child(5)  { left: 48%; animation-delay: 2s; }
.heart:nth-child(6)  { left: 55%; animation-delay: 10.5s; }
.heart:nth-child(7)  { left: 85%; animation-delay: 1s; }
.heart:nth-child(8)  { left: 5%; animation-delay: 5s; }
.heart:nth-child(9)  { left: 85%; animation-delay: 4s; }
.heart:nth-child(10) { left: 75%; animation-delay: 8s; }


@keyframes float {
    0% {
        bottom: -60px;
        opacity: 0;
        transform: rotate(-45deg) translateX(0);
    }

    50% {
        opacity: 1;
        transform: rotate(-45deg) translateX(20px);
    }

    100% {
        bottom: 110%;
        opacity: 0;
        transform: rotate(-45deg) translateX(-20px);
    }
}




/* Button */
.btn {
    padding: 15px 35px;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    background-color: rgb(88, 15, 15);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    z-index: 2;
}
