.container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: pink;
    position: relative;
}

.gif-container-1 {
    display: flex;
    /* background-color: aqua; */
    margin-bottom: 400px; 
    width: 320px;
    height: 320px;
}

.ans-1 {
    position: relative;
    top: -390px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h3-1 {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 10px; 
    text-align: center;
}

.btn-div1 {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 0; 
}

.btn3 {
    background-color: green;
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transform-origin: top;  
    transition: transform 0.3s ease;
    min-width: 80px;
}

.btn3.grow {
    transform: scale(1.5);
}

.btn4 {
    background-color: red;
    color: white;
    border: none;
    padding: 8.7px 12px;
    font-size: 11px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    white-space: normal;
    max-width: 150px;
    min-width: 60px;
    text-align: center;
    line-height: 1.4;
    /* margin-top: 8px;  */
}