.container9{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: pink;
    position: relative;
}

.gif-container-7 {
    display: flex;
    /* background-color: aqua; */
    margin-bottom: 289px; 
    width: 320px;
    height: 320px;
}

.ans-7 {
    position: relative;
    top: -280px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h3-7 {
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 10px; 
    text-align: center;
}

.text1 {
    position: relative;
    top: -280px;   /* slightly less than -390px */
    font-size: 1.2rem;
    margin: 0;
    text-align: center;
    max-width: 500px;
}
