.container8{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: pink;
    position: relative;
}

.gif-container-6 {
    display: flex;
    /* background-color: aqua; */
    margin-bottom: 400px; 
    width: 320px;
    height: 320px;
}

.ans-6 {
    position: relative;
    top: -390px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h3-6 {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 10px; 
    text-align: center;
}

.btn-div6    {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 0; 
}

.btn13 {
    background-color: green;
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transform-origin: top;  
    transition: transform 0.3s ease;
    min-width: 80px;
}

.btn13.grow {
    transform: scale(3.5);
}

